.navbar-brand {
    font-family: 'Work Sans', sans-serif;
    font-style: italic;
    font-size: 1.5rem;
    font-weight: 900;
}

.navbar {
    padding-bottom: 0 0 4.5rem;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 0.75rem;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
}

#titulo {
    background-color: #551073;
    color: #ffffff;
    text-align: center;
    margin: auto;
}

.portada{
    background-color: hsl(140, 59%, 13%);
    color: #ffffff;
}

.card{
    width: 100%;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    background-color: #f2ac29;
    color: #3f1140;
}

.row{

     text-align: center;
     font-family: 'Work Sans', sans-serif;
     background-color: #3f1140;  
}

.row1{
    padding: 5% 5%;
      text-align: center;
      font-family: 'Work Sans', sans-serif;
      background-color: #320a33;  
 }

.row2{
    padding: 5% 5%;
      text-align: center;
      font-family: 'Work Sans', sans-serif;
      background-color: #280529;  
 }

 .row3{
    padding: 5% 5%;
      text-align: center;
      font-family: 'Work Sans', sans-serif;
      background-color: #1c021d;  
 }
 
 .row4{
    padding: 5% 5%;
      text-align: center;
      font-family: 'Work Sans', sans-serif;
      background-color: #0f000f;  
 }
 
 .img-ejemplo {
    width: 35%;
    border-radius: 20%;
    margin: 20px;
}

.body{
    background-color: #f2ac29;
    font-family: 'Work Sans', sans-serif;
}

.footer {
    padding: 5% 5%;
     text-align: center;
     font-family: 'Work Sans', sans-serif;
     background-color: #f2ac29;
   }

.social-icon{
    margin: 20px 10px;
   }